<nav class="navbar navbar-light shadow" style="background-color: #e3f2fd;">
	<!-- Navbar content -->
	<div class="container" id="navbarNavDropdown">
		<ul class="navbar-nav list-unstyled">
			<li class="nav-item">
				<a class="nav-link" href="/index.html"><img class="owl" src="img/icons/Owl-528.png">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarContracts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Contracts
			</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/contract-custom.html">Custom Contract</a>
					<a class="dropdown-item" href="#">County Contract</a>
					<a class="dropdown-item" href="#">Regional Contract</a>
					<a class="dropdown-item" href="#">State Contract</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarBilling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Billing
			</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/billing-overview.html">Overview</a>
					<a class="dropdown-item" href="/billing-add-new-credit-card.html">Payment Method</a>
					<a class="dropdown-item" href="/billing-payment-history.html">Payment History</a>
					<a class="dropdown-item" href="/billing-contacts.html">Contacts</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Settings
			</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="/settings-profile.html">Profile</a>
					<a class="dropdown-item" href="/settings-company.html">Company</a>
					<a class="dropdown-item" href="/settings-email.html">Email</a>
					<a class="dropdown-item" href="/settings-email.html">Password</a>
					<a class="dropdown-item" href="/settings-notifications.html">Notifications</a>
					<a class="dropdown-item" href="/settings-audit log.html">Audit Log</a>
					<a class="dropdown-item" href="/settings-deactivate.html">Deactivate</a>
				</div>
			</li>
			<li class="nav-item dropdown nav-user">
				<a class="nav-link dropdown-toggle" id="navbarUsername" href="#" id="navbarAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leo Vroegindewey</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" id="navbarLogOut" href="#">Log Out</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
